p{font-size: 15}

	 p. small{line-height: o.5px; color: white, font-size 15px;justify-content: all;}
	h1, h2, h3, h4, h5 {
		color: white; border-style: hidden; border-width: 1px;
	}

	img.profile{
		width: 200px; height: 250px; 
	}
	.right{
		float:right;
		width:70%;
	}
	

div {
    text-align: justify;
    text-justify: inter-word;
}
}